.daily-forecast {
  width: 40%;
  max-width: 30rem;

  padding: 2rem;
  color: #000;
}

@media (max-width: 768px) {
  .daily-forecast {
    width: 100%;
  }
}

.daily-forecast h3 {
  color: #757575;
}

.daily-forecast li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.daily-forecast li:not(:last-child) {
  border-bottom: 1px solid #bdbdbd;
}

.daily-forecast li img {
  width: 100px;
  height: 100px;
}

.daily-block {
  display: flex;
  flex-direction: column;
  min-width: 80px;
}

.daily-block h4 {
  margin-bottom: 0.5rem;
}

.daily-block p {
  margin-left: 0.2rem;
  color: #757575;
}

.daily-temp {
  display: flex;
  align-items: center;
}

.daily-temp-day {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 0.2rem;
}

.daily-temp-min {
  color: #757575;
  margin-left: 0.2rem;
}
