.dashboard-container {
  border-right: 1px solid var(--border);
  width: 100%;
  padding: 1.5rem 2rem;
}

/* ---------------------------------- */
/* search bar styling */
/* ---------------------------------- */
.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search-bar-container button {
  background: none;
  border: none;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.search-bar {
  width: 100%;
}

.my-select__control {
  border: none;
  border-radius: 15px !important;
}

/* this ensures that the input value is still visible after making a selection */
.my-select__input {
  opacity: 1 !important;
}

/* ---------------------------------- */
/* main dashboard styling */
/* ---------------------------------- */

.main-dashboard {
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  border-radius: 15px;
  padding: 1rem;
  width: 100%;

  color: var(--font);

  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .main-dashboard {
    flex-direction: column;
    justify-content: center;
  }
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  width: 40%;
  padding: 1rem;
  gap: 3rem;
}

@media (max-width: 768px) {
  .dashboard-content {
    width: 100%;
  }
}

.dashboard-content i {
  margin-right: 0.5rem;
}

.dashboard-location {
  display: flex;
}

.dashboard-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-temp h1 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.dashboard-bottom {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------------- */
/* main dashboard chart styling */
/* ---------------------------------- */

.weather-chart-container {
  background: rgba(255, 255, 255, 0.3);
  width: 60%;
  border-radius: 15px;
  padding: 1rem;
}

@media (max-width: 768px) {
  .weather-chart-container {
    width: 100%;
  }
}

/* ---------------------------------- */
/* sub dashboard styling */
/* ---------------------------------- */
