.hourly-forecast {
  width: 100%;
  margin-top: 2rem;
}

.hourly-forecast h3 {
  margin-bottom: 2rem;
}

.hourly-forecast ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  /* justify-content: space-between; */
}
