.hourly-forecast-container {
  color: #fff;
  font-size: 1.2rem;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .hourly-forecast-container {
    padding: 1rem;
  }
}

.hourly-forecast {
  position: relative;
}

.hourly-day-block h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.hourly-scroll-container {
  width: 100%;
  gap: 0.5rem;

  display: flex;
}

.hourly-scroll-container:hover {
  cursor: grab;
}

.hourly-scroll-container:active {
  cursor: grabbing;
}

.hourly-forecast li {
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 1rem;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .hourly-forecast li {
    padding: 1rem 0.5rem;
  }
}

/* ---------------------------------------- */
/* .hourly-forecast scroll styling */
/* ---------------------------------------- */

.hourly-scroll-container::-webkit-scrollbar {
  background-color: rgba(36, 45, 69, 0.9);
  height: 0.7rem;
}

.hourly-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.hourly-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
