.show {
  opacity: 1;
  /* transform: translateX(0%); */
  transform: translateY(0%);
  transition: transform 0.4s, opacity 0.4s;
}

.logo {
  color: #fff;
  display: flex;

  font-size: 2rem;
  font-weight: 600;
}

.logo img {
  width: 3rem;
}

.navbar-list {
  margin-top: 3rem;
  color: #fff;
}

.navbar-list li {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.1rem;
}

@media (max-width: 1024px) {
  .navbar-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .navbar-list li {
    font-size: 1.2rem;
  }
}

.navbar-icon {
  margin-right: 0.8rem;
  color: #fff;
}

.navbar-list li:hover,
.navbar-list li:hover .navbar-icon {
  color: #4cceac;
  cursor: pointer;
}
