@media (max-width: 1024px) {
  .navbar-container {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo img {
  width: 3rem;
}

.logo h2 {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.navbar-list {
  margin-top: 3rem;
  color: #757575;
}

.navbar-list li {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.navbar-icon {
  margin-right: 0.3rem;
  color: #b0bec5;
}

.navbar-list li:hover,
.navbar-list li:hover .navbar-icon {
  color: #448aff;
  cursor: pointer;
}
