.saved-location-container {
  color: #fff;

  width: 50%;
  margin-bottom: 1rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .saved-location-container {
    width: 100%;
  }
}

.saved-location-container.fade-in {
  opacity: 1;
  transform: translateX(0);
}

/* ---------------------------------------- */
/* saved-location styling */
/* ---------------------------------------- */

.saved-location-group {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.saved-location-group h2 {
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.saved-location-group h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.saved-current-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  padding: 1rem;
  margin-bottom: 0.7rem;
}

.saved-current-add,
.saved-current-select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.saved-location-icons:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--green-color);
}

/* ---------------------------------------- */
/* saved-location list styling */
/* ---------------------------------------- */

.saved-location-list li {
  width: 100%;
  border: 1px solid transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  padding: 1rem;
  margin-bottom: 0.7rem;
  transition: background-color 0.5s ease-in-out, border 0.2s ease-in-out;
}

.saved-location-list li:hover {
  cursor: pointer;
  border: 1px solid #eee;
  transition: border 0.2s ease-in-out;
}

.saved-location-list li.shake {
  animation: wiggle 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes wiggle {
  0% {
    transform: translateX(-2%);
  }

  25% {
    transform: translateX(2%);
  }

  50% {
    transform: translateX(-2%);
  }

  75% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0);
  }
}

/* ---------------------------------------- */
/* saved-location list item styling */
/* ---------------------------------------- */

.list-fade-in {
  opacity: 0;
  transform: translateY(10%);
  animation: list-fade-in 0.3s ease-in-out forwards;
}

@keyframes list-fade-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
