.saved-location-container {
  color: #fff;

  width: 50%;
  margin-bottom: 1rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .saved-location-container {
    width: 100%;
  }
}

.saved-location-container.fade-in {
  opacity: 1;
  transform: translateX(0);
}

/* ---------------------------------------- */
/* current location styling */
/* ---------------------------------------- */

.saved-location-group {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.saved-location-group h2 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.saved-location-group h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.saved-current-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  padding: 1rem;
  margin-bottom: 0.7rem;
}

.saved-current-add {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.saved-location-icons-add:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--green-color);
}

/* ---------------------------------------- */
/* saved location styling */
/* ---------------------------------------- */

.saved-location-button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  float: right;
  color: #fff;
  padding: 0.4rem 0.8rem;
  transition: background-color 0.2s ease-in-out;
}

.saved-location-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.saved-location-list ul {
  margin-bottom: 3rem;
}

.saved-location-list li {
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 100%;

  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  transition: background-color 0.5s ease-in-out, border 0.2s ease-in-out,
    min-width 0.3s ease;
}

.saved-location-list li:hover {
  cursor: pointer;
  border: 1px solid #eee;
  transition: border 0.2s ease-in-out;
}

.saved-location-list li.shake {
  animation: wiggle 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes wiggle {
  0% {
    transform: translateX(-2%);
  }

  25% {
    transform: translateX(2%);
  }

  50% {
    transform: translateX(-2%);
  }

  75% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0);
  }
}

.list-item-delete-button {
  color: #bf360c;
}

.list-item-delete-button:hover {
  color: #e57373;
  cursor: pointer;
  transform: scale(1.05);
}

.list-item-delete-button:active {
  color: #f44336;
}

/* ---------------------------------------- */
/* add saved-location list item animation */
/* ---------------------------------------- */

.list-shorten {
  min-width: calc(100% - 3rem) !important;
}

.list-fade-in {
  opacity: 0;
  transform: translateY(10%);
  animation: list-fade-in 0.3s ease-in-out forwards;
}

@keyframes list-fade-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
