.search-bar i {
  margin-right: 0.7rem;
}

.search-bar input {
  outline: none;
  border: 1px solid var(--border);
  width: 500px;
  max-width: 60%;
  padding: 8px 10px;
  margin-bottom: 1.5rem;
  border-radius: 15px;
}
