.settings-container {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;

  width: 50%;
  margin-bottom: 1rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .settings-container {
    width: 100%;
  }
}

.settings-group {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.settings-group h2 {
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.settings-group h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.settings-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

/* ---------------------------------------- */
/* settings toggle styling */
/* ---------------------------------------- */

.toggle {
  --width: 5rem;
  --height: calc(var(--width) / 2.5);
  --border-radius: calc(var(--height) / 2);

  width: var(--width);
  margin-left: auto;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.toggle-input {
  display: none;
}

.toggle-fill {
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);

  position: relative;
  width: var(--width);
  height: var(--height);
  padding-right: 2px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: background 0.2s;
}

.toggle-fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: calc(var(--width) / 2);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill {
  background-color: rgba(0, 149, 120, 1);
}

.toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(calc(var(--height) * 1.25));
}

.toggle-option {
  font-size: 1.1rem;
}

/* ---------------------------------------- */
/* settings radio styling */
/* ---------------------------------------- */

.radio-group {
  display: flex;
}

.radio {
  position: relative;
  display: inline-block;
}

.radio input[type='radio'] {
  position: absolute;
  visibility: hidden;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  border-radius: 15px;
  margin-left: 0.5rem;

  background: rgba(255, 255, 255, 0.2);
  color: #fff;

  transition: background 0.1s ease-in-out;
}

.radio-label:hover {
  background: rgba(255, 255, 255, 0.3);
}

.radio input[type='radio']:checked + .radio-label {
  background-color: #fff;
  color: #000;
}
