body {
  margin: 0 auto;
  padding: 6rem 3rem;
}

@media (max-width: 1024px) {
  body {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0rem;
  }
}

.main-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;

  display: flex;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .weather-container {
    display: flex;
    flex-direction: column;
  }
}

.weather-container {
  width: 100%;
  display: flex;
}

@media (max-width: 1440px) {
  .weather-container {
    display: flex;
    flex-direction: column;
  }
}
