body {
  margin: 0 auto;
  padding: 6rem 3rem;
}

@media (max-width: 1024px) {
  body {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0rem;
  }
}

.main-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;

  display: flex;
}

.navbar-container {
  border-right: 1px solid var(--border);
  color: #000;
  padding: 2rem;
  width: 14rem;

  display: flex;
  flex-direction: column;
}

.weather-container {
  width: calc(100% - 14rem);
  display: flex;
}

@media (max-width: 1440px) {
  .weather-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .weather-container {
    width: 100%;
  }
}

.dashboard-container {
  /* border-right: 1px solid var(--border); */
  width: 100%;
  padding: 1.5rem 2rem;
}

@media (max-width: 1024px) {
  .dashboard-container {
    width: 100%;
    padding: 0rem;
  }
}
