body {
  background: linear-gradient(to bottom right, #86a8e7, #a3b9f2, #c0cafd);

  background-color: var(--background);
}

.main-container {
  width: 100%;
  height: 100vh;

  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .main-container {
    border-radius: 0;
  }
}

.navbar-container {
  padding: 2rem;
  width: 16rem;

  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #28324d;
  background-color: #242d45;
}

@media (max-width: 1024px) {
  .navbar-container {
    position: absolute;
    left: 0;
    top: 5rem;
    opacity: 0;

    width: 15rem;

    border: none;

    transform: translateX(-100%);
    transition: transform 0.4s, opacity 0.4s;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    width: 18rem;
  }
}

.dashboard-container {
  width: calc(100% - 16rem);
  padding: 2rem 6rem;
  overflow-y: scroll;
}

@media (max-width: 1600px) {
  .dashboard-container {
    padding: 2rem 2rem;
  }
}

@media (max-width: 1440px) {
  .dashboard-container {
    padding: 2rem 2rem;
  }
}

@media (max-width: 1024px) {
  .dashboard-container {
    width: 100%;
    padding: 0rem;
  }
}
